{% extends "layout.html" %}

{% block content%} 
<div class="content-section pt-2 mt-4 mb-4 pb-4">
    <div class="row">
    <div class="col-md-6">
        <div class="media">
          <img class="rounded-circle account-img" src="https://source.unsplash.com/125x125/?profile,photo">
          <div class="media-body">
            <h3 class="">{{ current_user.fullname }}</h3>
            <p class="text-secondary">{{ current_user.username }}</p>
            <p class="text-secondary">{{ current_user.email }}</p>
          </div>
        </div>
          <form method="POST" action="" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Account Information</legend>
                  <div class="form-group">
                      {{ form.username.label(class="form-control-label") }}
  
                      {% if form.username.errors %}
                          {{ form.username(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.username.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.username(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>

                  <div class="form-group">
                    {{ form.fullname.label(class="form-control-label") }}

                    {% if form.fullname.errors %}
                    {{ form.fullname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.fullname.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.fullname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                        {{ form.bio.label(class="form-control-label") }}
    
                        {% if form.bio.errors %}
                        {{ form.bio(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.bio.errors %}
                            <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.bio(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                  <div class="form-group">
                      {{ form.email.label(class="form-control-label") }}
                      {% if form.email.errors %}
                          {{ form.email(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.email.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.email(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
                  <div class="form-group">
                      {{ form.picture.label() }}
                      {{ form.picture(class="form-control-file") }}
                      {% if form.picture.errors %}
                          {% for error in form.picture.errors %}
                              <span class="text-danger">{{ error }}</span></br>
                          {% endfor %}
                      {% endif %}
                  </div>

                <div class="mt-2 pt-2"><h3>Social Media Profiles</h3>
                    <div class="form-group">
                        {{ form.facebook.label(class="form-control-label") }}
    
                        {% if form.facebook.errors %}
                        {{ form.facebook(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.facebook.errors %}
                            <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.facebook(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.twitter.label(class="form-control-label") }}
    
                        {% if form.twitter.errors %}
                        {{ form.twitter(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.twitter.errors %}
                            <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.twitter(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.github.label(class="form-control-label") }}
    
                        {% if form.github.errors %}
                        {{ form.github(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.github.errors %}
                            <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.github(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.linkedin.label(class="form-control-label") }}
    
                        {% if form.linkedin.errors %}
                        {{ form.linkedin(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.linkedin.errors %}
                            <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.linkedin(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>

              </fieldset>
              <div class="form-group">
                  {{ form.submit(class="btn btn-outline-success") }}
              </div>
          </form>
        </div>
        <div class="col-md-3 pt-4 mt-4 ml-4">
            <h3 class="text-center">My Posts</h3>
            
            {% if posts %}
                {% for post in posts %}
                    <ul>
                        <li><p><a class="" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></p>
                        </li>
                    </ul>
                    {% endfor %}
                    {% else %}
                    <p>You have not published any post</p>
                   
                {% endif %}

        </div> 
    </div>
</div>

{% endblock content %}