{% extends "layout.html" %}

{% block jumbo%}
<div class="mt-4 pt-2"></div>
{% endblock %}

{% block content%}
<div class=" pt-4 mt-5 pl-4 pr-4">
</div>
    
            <!--Mask-->
            <div id="intro" class="view">
    
                <div class="mask rgba-black-strong">
    
                    <div class="container-fluid d-flex align-items-center justify-content-center h-100">
    
                        <div class="row d-flex justify-content-center text-center">
    
                            <div class="col-md-10">
    
                                <!-- Heading -->
                                <h3 class="display-4 font-weight-bold white-text pt-5 mb-2">Welcome To Job Seeker</h3>
    
                                <!-- Divider -->
                                <hr class="hr-light">
    
                                <a href="/login"><button type="button" class="btn btn-outline-white">Login<i class="fa fa-book ml-2"></i></button>
                                </a>
                                <a href="/register"><button type="button" class="btn btn-outline-white">Sign Up<i class="fa fa-book ml-2"></i></button>
                                </a>
    
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
    
            </div>




{% endblock content %}